<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>websockets...</title>
</head>
<body>
    
    <h3 id="webs">hello welcome to {{room_name}} group.... </h3>
    <textarea name="textarea" id="textarea" cols="30" rows="10">{% for chat in chats %}{{chat.message}}{% endfor %}</textarea><br>
    <input type="text" name="textfiled" id="text"></input>
    <button type="button" value="send" id="btn">Send</button>
    {{room_name|json_script:"room-name"}}
 <script>
       document.getElementById('text').focus()
       console.log(typeof(document.getElementById('room-name')))
       const roomName = JSON.parse(document.getElementById('room-name').textContent);
        console.log(roomName)
        let ws = new WebSocket(
            'ws://'
            + window.location.host
            +'/ws/sc/'

            +roomName
            +'/'
            ); // websockets... connection open after create object of websocket

        ws.onopen = function(event){  // this happend when connection is in open state 
            console.log("websockets... connection open...",event) // print into console for confirmation
           
           // send data by the client to server must be need to start to way communication
        
        ws.onmessage = function(event){ // this event occur when you got message from server 
            console.log("message received from server...",event);
            console.log(typeof(event.data))
            document.getElementById('textarea').value=event.data
       //     document.getElementById('webs').innerText = event.data
        };
        ws.onerror = function(event){
            console.log("websockets... errror");
        };
        ws.onclose=  function(event){
            console.log("WebSocket close", event);
        };
        document.getElementById('text').onkeyup = (event)=> {
            if (event.keyCode === 13) {  // enter, return
                document.getElementById('btn').click();
            }
        };

        document.getElementById('btn').onclick=(event)=>{
            let client_data =document.getElementById('text')
            ws.send(client_data.value+'\n')
            client_data.value=''
       }
       }
    </script>




</body>
</html>